<h1>PassGuardian</h1>
<h2>Secure password manager</h2>

<div *ngIf="!isSignUp">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Login</button>
    <button (click)="toggleSignUp()">Create Account</button>
  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>

<div *ngIf="isSignUp">
  <h2>Create Account</h2>
  <form (ngSubmit)="onSignUp()">
    <div>
      <label for="signupUsername">Username:</label>
      <input type="text" id="signupUsername" name="signupUsername" [(ngModel)]="signupUsername" required>
    </div>
    <div>
      <label for="signupPassword">Password:</label>
      <input type="password" id="signupPassword" name="signupPassword" [(ngModel)]="signupPassword" required>
    </div>
    <button type="submit">Create Account</button>
  </form>
  </div>
  <div *ngIf="isVerificationCode">
    <h2>Email Verification</h2>
    <form (ngSubmit)="onVerify()">
      <div>
        <label for="verificationCode">Verification Code:</label>
        <input type="text" id="verificationCode" name="verificationCode" [(ngModel)]="verificationCode" required>
      </div>
      <button type="submit">Verify Email</button>
    </form>
  </div>