<amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
    <form (ngSubmit)="submitForm()">
      <h1>Secure Your Credentials </h1>
      <p>{{successMessage}}</p>
      <div>
        <label for="platform">Platform:</label>
        <input type="text" id="platform" name="platform" [(ngModel)]="formData.platform" required>
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
      </div>
      <div style="height: 20px;"></div>
      <div>
        <button type="submit">Submit</button>
        <div style="height: 20px;"></div>
      </div>
    </form>
      <button (click)="signOut()">Sign Out</button>
      <div style="height: 20px;"></div>
    <table>
  <thead>
    <tr>
      <!-- <th>Email</th> -->
      <th>Username</th>
      <th>Platform</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of jsonData">
      <!-- <td>{{ item.email }}</td> -->
      <td>{{ item.username }}</td>
      <td>{{ item.platform }}</td>
      <td>
        <span [class.hidden]="!item.revealPassword">{{ item.password }}</span>
        <button (click)="revealPassword(item)">Reveal Password</button>
      </td>
    </tr>
  </tbody>
</table>

    </ng-template>
  </amplify-authenticator>